@import url('https://fonts.googleapis.com/css2?family=Poiret+One&family=Varela&display=swap');

.calendar-date:hover {
  background-color: lightgrey;
}

.brand-font {
  font-family: 'Poiret One', cursive;
}

.brand-background {
  background-color: #05A;
}